*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
ul
{
    text-align: right;
    margin-right: 50px;
}
.nav-ul_li
{
    display: inline-block;
    margin-top: 15px;
    padding: 7px;
}
.nav-ul_li a
{
    text-decoration: none;
    color: #001219;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-ul_li a button
{
    background-color: #1a73e8;
    width: 100px;
    height: 40px;
    color: #fafafa;
    border-radius: 5px;
    border: #1a73e8 solid;
}
.nav-ul_li a button :hover
{
    box-shadow: #001219
}
.imagen 
{
    text-align: center;
    margin-top: 100px;
}
.barra
{
    text-align: center;
}
.barra input
{
    margin-top: 14px;
    width: 550px;
    height: 37px;
    border-radius: 14px;
    border: 1px #e5e5e5 solid;
}
.botones
{
    text-align: center;
    margin-top: 20px;
}
.botones button
{
    margin: 0px 15px;
    width: 150px;
    height: 40px;   
    border-radius: 5%;
    border: none; 
    box-sizing: border-box;
}
.botones button:hover
{
    border: 1px #353535 solid;
}
.footer-ul
{
    text-align: left;
}
.footer-ul_li
{
    display: inline-block;
    padding: 5px;
    margin-top: 245px;
    margin-left: 20px;
}
.footer-ul li:nth-of-type(5)
{
    margin-left: 390px;
}
.footer-ul_li a
{
    color: #70757a;
    font-family: Arial, Helvetica, sans-serif;
}
a
{
    text-decoration: none;
}